* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */

h2 {
}

main {
}

strong {
}

.max-width-wrapper {
}

.title {
}

.intro-chunk {
}

.card {
}

.indented-heading {
}

